.hero {
    &__wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &__content {
        flex-grow: 1;
        padding: 100px 0;
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            background-color: #F4F3F0;
            position: absolute;
            top: 0;
            left: 50%;
            width: 100vw;
            height: 100%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: -40px;
        align-items: center;
    }

    &__col {
        width: 50%;
        padding: 40px;
    }

    &__caption {
        font-family: 'SourceSerifPro', Arial, Helvetica, sans-serif;
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 11px;
        color: #3A5F56;
    }

    &__desc {
        // max-width: 534px;
        margin-bottom: 17px;
    }

    &__wrap-img {
        display: block;
        line-height: 0;
        padding-bottom: 140%;
        position: relative;
        border-radius: 24px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    overflow: hidden;

    &__logo {
        line-height: 0;

        &-img {
            max-width: 113px;
            max-height: 30px;
        }
    }

    &__nav {
        margin-left: auto;
        margin-right: 20px;
    }

    &__list {
        display: flex;
    }

    &__item {
        padding: 0 10px;
    }

    &__link {
        color: #3A5F56;
        line-height: 1.0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 0;
            bottom: 1px;
            left: 0;
            background-color: #B87D58;
            transition: 0.3s;
        }
        
        &:hover::after {
            width: 100%;
            color: #B87D58;
        }
    }

    &__btn {
        & span {
            color: #fff;
            line-height: 1.4;
            padding: 0 8px;
        }

        & img {
            max-width: 19px;
            max-height: 19px;
        }
    }

    &__btn-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .header{
        &__btn-menu {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            flex-shrink: 0;
            cursor: pointer;
            margin-left: auto;
            margin-right: 10px;
        }

        &__line {
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background-color: #3A5F56;
            position: absolute;
            left: 0;
            transition: 0.3s;

            &:nth-child(1) {
                top: 0;
            }
            
            &:nth-child(2) {
                top: 9px;
            }
        
            &:nth-child(3) {
                top: 18px;
            }
        }

        &__btn-menu--open .header__line:nth-child(1) {
            transform: rotate(45deg);
            top: 9px;
        }

        &__btn-menu--open .header__line:nth-child(2) {
            display: none;
        }

        &__btn-menu--open .header__line:nth-child(3) {
            transform: rotate(-45deg);
            top: 9px;
        }

        &__nav {
            display: none;
            margin: 0;
        }
    
        &__nav--open {
            display: block;
            position: absolute;
            left: calc(100% - 92vw);
            top: 85px;
            background-color: #fff;
            border-radius: 5px;

            
        }

        &__list {
            display: flex;
            min-width: 140px;
            min-height: 20px;
 
        }
    
        &__item {
            padding: 0%;
        
        }
    
        &__link {
            display: block;
            padding: 10px 7px;
            z-index: 3;
        }
    }

    .hero {
        &__col {
            width: 100%;
            
        }
    }
}
